.textField {
  background-color: red;
}
.overflow-visible {
  overflow: visible !important;
}
.p-relative {
  position: relative;
}
.d-flex {
  display: flex;
}
.weather-icon {
  position: absolute;
  top: -100px;
  right: -20px;
  z-index: 100;
}
.mb-1 {
  margin-bottom: 5px !important;
}
.pb-1 {
  padding-bottom: 10px;
}
.pb-2 {
  padding-bottom: 20px;
}
.pb-3 {
  padding-bottom: 30px;
}
.pb-4 {
  padding-bottom: 40px;
}
.pb-5 {
  padding-bottom: 50px;
}
.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}
.py-4 {
  padding: 40px 0;
}
.py-5 {
  padding: 50px 0;
}
@media (max-width: 767px) {
  .weather-icon {
    top: -50px;
    right: -25px;
  }
  .weather-icon-default {
    max-width: 80%;
  }
}

.notification-message {
  background-color: #fee9e9;
  /* border: 1px solid #ff3737; */
  padding: 2px 10px;
  border-radius: 5px;
  margin: 0;
}
.btn-search {
  height: 48px;
}
.btn-search-icon {
  color: #fff !important;
}
.text-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}
.justify-content-end {
  justify-content: flex-end;
}
